.section1
{
  height: 100vh;
  gap: 0px;
  box-sizing: border-box;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: var(--background-dark);
}

.elso
{
  height: 6vh;
  gap: 0px;
  box-sizing: border-box;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: var(--background-dark);
  margin-bottom: 20px;
  margin-top: -10px;
}

.masodik
{
  height: 93vh;
  gap: 0px;
  box-sizing: border-box;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: var(--background-dark);
}

.split-text
{
  font-size: 40px;
}
/* 
html
{
  background-color: red;
} */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

 .masodik > * {
  animation: fadeInUp 1s ease-out;
}


.harmadik
{
  background-color: var(--background-dark);
  padding-bottom: 5vh;
}

.negyedik
{
  background-color: var(--background-dark);
  padding-top: 5vh;
  padding-bottom: 12vh;
}